:root {
  font-size: 16px;
  font-family: "Source Code Pro";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-light-primary: #ffffff;
  // --accent-primary: rgba(231, 64, 223, 0.815);
  --accent-primary: #ffdb58;
  --transition-speed: 600ms;
}

body {
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  color: var(--bg-primary);
  background-color: var(--bg-light-primary);
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--accent-primary);
  }

  .container {
    margin: 0 auto;
    position: relative;
    max-width: 2560px;
  }
  h1 {
    font-size: 2.5em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 300;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: var(--bg-primary);
    font-size: 1.9em;
    transition: all var(--transition-speed) ease-in;
  }
  .ux {
    font-weight: 400;
    letter-spacing: 0.4em;
    transition: all var(--transition-speed);
  }

  .dev {
    font-weight: 400;
    letter-spacing: 0.1em;
    transition: all var(--transition-speed);
  }
  .center {
    text-align: center;
  }
  .icon {
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;

    &:hover {
      font-size: 1.3em;

      .fa-behance {
        color: #053eff;
      }
      .fa-github-alt {
        color: var(--accent-primary);
      }
      .fa-linkedin-in {
        color: #2867b2;
      }
      .fa-envelope {
        color: var(--accent-primary);
      }
    }
  }
  .pop:hover {
    color: var(--accent-primary);
  }

  .nav-bar {
    position: fixed;
    width: 100vw;
    max-width: 2560px;
    height: 10%;
    z-index: 2;
    background-color: transparent;
    transition: background-color var(--transition-speed) ease-out;
    // background: linear-gradient(rgba(20, 20, 20, 1), rgba(255, 255, 255, 0));
    // background-color: var(--bg-light-primary);
    .nav-list {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
    }

    .bar {
      &::after {
        display: block;
        content: "";
        // border-bottom: solid 3px rgba(231, 64, 223, 0.815);
        border-bottom: solid 3px #8556a6;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  .nav-bg {
    background-color: var(--bg-primary);
    transition: background-color var(--transition-speed) ease-in;
  }

  .hero {
    height: 100vh;
    max-height: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    position: relative;

    .hero-name {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 30%;
      font-family: "Source Code Pro";
      text-transform: uppercase;
      letter-spacing: 0.5em;

      h1 {
        font-size: 4em;
        text-shadow: 6px 4px var(--accent-primary);
      }
    }
    .name {
      position: absolute;
      top: 48%;
      font-family: "Open Sans";
      text-transform: uppercase;
      letter-spacing: 0.5em;
    }
    .cta-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5em;
      height: 0.2em;
      border: 0.05em solid var(--accent-primary);
      background-color: transparent;
      border-radius: 34px;
      padding: 0.7em 1.7em;
      transition: var(--transition-speed);
      p {
        font-size: 0.5em;
        font-weight: 700;
      }

      span {
        font-size: 0.8em;
      }
    }
    .cta-button:hover {
      background-color: var(--accent-primary);
      border-color: var(--accent-primary);
      p,
      i {
        color: var(--bg-primary);
      }
    }

    .right-hero {
      height: 100%;
      width: 100%;
      background: linear-gradient(
          rgba(163, 149, 149, 0.2),
          rgba(255, 255, 255, 1)
        ),
        url("/assets/right-v2.jpg");
      background-size: cover;
      transition: width 1s;
      -webkit-transition: width 1s;
      /* Safari */

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        position: absolute;
        top: 60%;
      }
      a {
        position: absolute;
        top: 70%;
      }

      span {
        padding: 0 0 0 0.7em;
      }
    }

    .right-hov {
      &:hover {
        width: 180%;
        background: linear-gradient(
            rgba(163, 149, 149, 0.2),
            rgba(224, 242, 87, 0.5)
          ),
          url("/assets/right-v2.jpg");
        background-size: cover;

        .cta-button {
          color: var(--bg-light-primary);
          border: 0.05em solid var(--bg-light-primary);

          &:hover {
            border: 0.05em solid var(--accent-primary);
          }
        }
        .dev {
          letter-spacing: 0.2em;
        }
      }
    }

    .left-hero {
      height: 100%;
      width: 100%;
      background: linear-gradient(
          rgba(163, 149, 149, 0.2),
          rgba(255, 255, 255, 1)
        ),
        url("/assets/left.jpg");
      background-size: cover;
      transition: width 1s;
      transform: var(--transition-speed);
      -webkit-transition: width 1s;
      /* Safari */

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Open Sans";
      h2 {
        position: absolute;
        top: 60%;
      }
      a {
        position: absolute;
        top: 70%;
      }
      span {
        padding: 0 0.7em 0 0;
      }
    }

    .left-hov {
      &:hover {
        width: 180%;
        background: linear-gradient(
            rgba(163, 149, 149, 0.2),
            rgba(217, 96, 85, 0.5)
          ),
          url("/assets/left.jpg");
        background-size: cover;

        .cta-button {
          color: var(--bg-light-primary);
          border: 0.05em solid var(--bg-light-primary);

          &:hover {
            border: 0.05em solid var(--accent-primary);
          }
        }
        .ux {
          letter-spacing: 0.6em;
        }
      }
    }
  }
  .hero-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main {
    // width: 100%;
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-columns: 1fr;

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 1.5em 0;
      font-family: "Open Sans";

      div.two {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      }

      &:nth-last-child(1) {
      }

      &:nth-child(2n) {
        background-color: var(--bg-primary);
        color: var(--bg-light-primary);

        .section-title {
          color: var(--accent-primary);
        }
      }
      .section-title {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
      }

      .section-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 5em 0;
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // column-gap: 2em;
        .project-card {
          padding: 1.5em 0;
          font-family: "Source Code Pro";
          width: 60%;
          padding: 10% 15% 0 15%;
          transition: ease-in var(--transition-speed);

          .card-title {
            text-transform: capitalize;
          }
          h3 {
            color: var(--accent-primary);
            font-size: 1.6em;
            word-break: break-word;
          }
          h4 {
            font-weight: 400;
            font-size: 1em;
            letter-spacing: 0.1em;
          }
          p {
            text-align: justify;
          }
          img {
            width: 100%;
          }
          .tags {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .tag-icon {
              display: flex;
              align-items: center;
              background-color: var(--bg-secondary);
              margin: 0.3em 0.5em 0.3em 0;
              height: 2em;
              border-radius: 100px;
              transition: ease-in 0.3s;

              h6 {
                color: var(--accent-primary);
                padding: 1em;
              }
            }
          }
          .tip {
            font-size: 0.5em;
            color: var(--text-secondary);
            transition: ease-in 0.3s;

            &:hover {
              cursor: pointer;
              color: var(--accent-primary);
            }
          }
          &:hover {
            background-color: var(--bg-secondary);
            .tag-icon {
              background-color: var(--bg-primary);
            }
            // background: linear-gradient(
            //   0deg,
            //   var(--bg-primary) 0%,
            //   var(--accent-primary) 50%,
            //   var(--bg-primary) 100%
            // );
          }
        }

        .section-image {
          width: 15em;
          height: 15em;
          display: block;
          margin-left: auto;
          margin-right: auto;
          img {
            text-align: center;
            width: 100%;
            border-radius: 100%;
          }
        }
        .section-content {
          // width: 100%;
          padding: 2em 5em;
          text-align: justify;
          line-height: 2.5em;

          h2 {
            text-align: center;
          }
        }
        .accent {
          color: var(--accent-primary);
        }
      }
    }
    .footer {
      height: auto;
      padding: 0;
      background-color: var(--text-secondary);
    }
  }

  .copy {
    width: 100%;
    text-align: center;
    background-color: var(--bg-primary);
    color: var(--bg-light-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      padding: 1.3em 0px;
    }

    .social-float {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: var(--bg-primary);
      display: flex;
      align-items: center;
      justify-content: center;

      bottom: 10px;
      position: fixed;
      right: -50px;
      transition: ease-in-out var(--transition-speed);
      a {
        font-size: 1.5em;
        color: var(--text-secondary);
      }

      &:hover {
        a {
          color: var(--accent-primary);
        }
      }
    }

    .slide-in-right {
      right: 50px;
    }
  }

  .info-left {
    left: 5%;
    cursor: pointer;
  }
  .info,
  .info-left {
    background-color: transparent;
    width: 15%;
    height: 5.5%;
    border-radius: 1.6em;
    position: absolute;
    z-index: 0;
    right: 5%;
    top: 90%;

    .inner {
      background-color: var(--bg-light-primary);
      width: 100%;
      border-radius: 1.6em;
      display: flex;
      justify-content: center;
      align-items: center;
      // clip-path: circle(10% at 19% 50%);
      // transition: clip-path var(--transition-speed) ease-in-out;
    }

    // &:hover .inner{
    //     clip-path: circle(150% at 10% 100%);
    // }
    .tip {
      display: inline;
      font-size: 0.8em;
      padding: 0 0.5em;
    }
    .icon {
      animation: rotate 1.5s linear infinite;
    }
  }

  .fa-times-circle {
    color: red;
  }
  .fa-check-circle {
    color: green;
  }
}

@media only screen and (max-width: 1024px) {
  div.hero,
  div.info,
  div.info-left {
    display: none;
  }
  div.hero-mobile {
    display: flex;
  }
  body .copy .slide-in-right {
    right: 10px;
  }
  .main {
    padding: 13% 0 0 0;

    p {
      font-size: 0.8em;
    }

    .timeline {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 10px;
        bottom: 0px;
        transform: translateX(-50%);
        width: 4px;
        background-color: var(--bg-light-primary);
      }
      .entries {
        width: calc(100% - 80px);
        max-width: 800px;
        margin: auto;
        position: relative;
        left: -5px;
        .entry {
          width: 100%;
          float: left;
          padding: 3em 20px;
          clear: both;
          text-align: left;

          .title {
            font-size: 32px;
            margin-bottom: 12px;
            position: relative;
            color: var(--accent-primary);

            &:before {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              border: 4px solid var(--text-secondary);
              background-color: var(--bg-primary);
              border-radius: 100%;
              top: 50%;
              left: -54px;
              transform: translateY(-50%);
              right: -73px;
              z-index: 1000;
            }
            &.big:before {
              width: 24px;
              height: 24px;
              transform: translate(8px, -50%);
            }
          }
          .body {
            color: var(--text-secondary);
            p {
              line-height: 2.5em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .footer {
    background-color: var(--bg-light-primary);
    background: linear-gradient(rgb(255, 255, 255), rgba(235, 235, 235, 0.61)),
      url("/assets/right.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: var(--bg-primary);
  }
  .timeline {
    position: relative;
    width: 100%;
    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      width: 4px;
      background-color: var(--bg-light-primary);
    }
    .entries {
      width: calc(100% - 80px);
      max-width: 1600px;
      margin: auto;
      position: relative;
      left: -5px;
      .entry {
        width: calc(50% - 80px);
        float: left;
        padding: 20px;
        clear: both;
        text-align: right;
        border-radius: 10px;
        transition: background-color ease-in var(--transition-speed);

        &:hover {
          background-color: var(--bg-secondary);
        }
        &:not(:first-child) {
          margin-top: -60px;
        }
        .title {
          font-size: 32px;
          margin-bottom: 12px;
          position: relative;
          color: var(--accent-primary);
          &:before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border: 4px solid var(--text-secondary);
            background-color: var(--bg-primary);
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            right: -73px;
            z-index: 1000;
          }
          &.big:before {
            width: 24px;
            height: 24px;
            transform: translate(8px, -50%);
          }
        }
        .body {
          color: var(--text-secondary);
          p {
            line-height: 2.5em;
          }
        }
        &:nth-child(2n) {
          text-align: left;
          float: right;
          .title {
            &:before {
              left: -63px;
            }
            &.big:before {
              transform: translate(-8px, -50%);
            }
          }
        }
      }
    }
  }
}
